body{
    background-color: rgb(30, 30, 30);
}
#canvas{
    padding: 0;
    margin: auto;
    display: block;
    border:rgb(200, 200, 200) 3px solid;
    background-color:black;
    width: 448px;
    height: 512px;
    image-rendering: -moz-crisp-edges;    
    image-rendering: -webkit-crisp-edges; 
    image-rendering: pixelated; 
}
button {
    margin: auto;
    display: block;
    color: rgb(200, 200, 200);
    background-color: black;
    border-left-color: rgb(200, 200, 200);
    border-top-color: rgb(200, 200, 200);
    border-right-color: rgb(200, 200, 200);
    border-bottom-color: rgb(200, 200, 200);
}